@import "./items.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.overlay {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 30px;
  &-nav {
    padding-top: 5px;
    font-size: 22.5px;
  }
  &-bottom {
    height: 208px;
  }
  &-button-row {
    height: 120px;
  }
  &-button {
    font-size: 11.25px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 50%;
    width: 63px;
    white-space: nowrap;
  }
  &-numbers {
    font-size: 13.5px;
    margin: 0;
  }
  &-text {
    font-size: 11.25px;
  }
}

.card {
  width: 400px;
  height: 100vh;
  border: none;
    position: relative;
  bottom: 15px;
  &-image {
    background-image: url("../images/Mask\ Group\ 1.jpg");
    background-size: 100% 335px;
    background-repeat: no-repeat;
    clip-path: inset(15px 0 0 0);
    padding: 0;
  }
  &-content {
    color: #95989a;
    padding: 0 70px;
  }
  &-title {
    font-size: 15px;
  }
  &-subtitle {
    font-size: 11.25px;
    &-horizontal-break {
      height: 0px;
      margin: 3px 0 15px;
    }
  }
  &-text {
    font-size: 15px;
    line-height: 15px;
  }
  &-button-row {
    height: 73px;
  }
  &-follow-button {
    font-size: 11.25px;
    border-radius: 20px;
    padding: 10px;
    width: 160px;
  }
}

@media (min-width: 401px) {
  body::before {
    background: url("../images/Rectangle\ 3.jpg") no-repeat center center fixed;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(15px);
  }

  .sidedrawer {
    width: 280px;
  }

  .card {
    border-radius: 17px;
    height: 633px;
    position: inline;
    bottom: 0;
    &-image {
      clip-path: none;
      border-radius: 17px;
    }
    &-row {
      height: 100vh;
    }
    &-button-row {
      height: 65px;
    }
  }

  .overlay-bottom {
    height: 208px;
  }
}
